.content-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 200px;

	.left-col {
		display: flex;
		flex-direction: column;
		flex-grow: 2;

		.program-container {
			display: flex;
			flex-direction: column;
		}
	}
}	