button {
    border: 1px solid $mainBlue;
    background-color: transparent;
    color: $mainBlue;
    cursor: pointer;

    &:hover {
    	background-color: $hoverBlue;
    	border: 1px solid $hoverBlue;
	    box-shadow: 0 0 7px $hoverBlue;
	    color: $highlightColor;
    }

    &:disabled {
		color: #999;
		border: 1px solid #999;
    }
}

a {
	color: $highlightColor;

	&:hover {
		color: $highlightHoverColor;
	}
}