.program-display {
	.line {
	    transition: all .1s linear;
	}
	.current-step {
		background-color: $hoverBlue;
		width: 100%;
	    transition: all .3s linear;	

		// @include onOffStates($testName);
	}
}